.wizard-list {
    display: inline-flex;
}

.wizard-card {
  background: linear-gradient(145deg, #1e1e1e, #292929);
  border: 4px solid #d4af37;
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem auto;
  max-width: 300px;
  box-shadow: 0 0 12px #d4af37;
  color: #fff;
  transition: transform 0.3s ease;
  padding: auto;
}
.wizard-card:hover {
  transform: scale(1.05);
}
.wizard-card img {
  border-radius: 12px;
  width: 100px;
  height: 200px;
  object-fit: cover;
}

.wizard-card h3 {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: #f5c518;
}

.wizard-card p {
  font-size: 1.1rem;
  color: white;
}